{% extends "base.html"%}
{% block content%}

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">Van-Khoa LE</h1>
                        <p class="intro-text">This is the personal porfolio of Van-Khoa LE and where I
                        present my hobbies.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About me</h2>
                <p>MY NAME IS VAN-KHOA LE, I'm a third year student at UTT, Troyes, France.
                  My project is developing a detection model using people's movement points as data input and this
                  model will classify and detect the person with abnormal behaviors.
                </p>
                <p>
                  In my free time I do some projects about data analysis, machine learning and deep learning integrated into
                  web application. I would like to hear about your projects and please do not hesitate to contact me.

                </p>

                <p>
                  WELCOME TO MY PERSONAL PORTFOLIO.
                </p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>PROJECTS</h2>
                    <h3><a href="https://projet-virtualis.com/">VIRTUALIS</a></h3>
                    <br>
                    <h3><a href="{% url 'restorecommand:resto_index' %}">Restaurant Recommendation</a></h3>
            </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Contact me</h2>
                <p>Feel free to email me to provide some feedback on my projects, or to just say hello!</p>
                <p><a href="mailto:feedback@startbootstrap.com">vankhoa21991@gmail.com</a>
                </p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://github.com/vankhoa21991?tab=repositories" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://facebook.com/khoa.le.9634" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/vankhoa21991" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/van-khoa-le-60425591/" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Map Section -->
    <!-- <div id="map"></div> -->
{% endblock %}
