{% extends "restorecommand/restorecommand_base.html" %}
{% block content %}


    <div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right"></div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Restaurants</h1>
		</div>
	</div>

	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="#">
				<button class="btn btn-default" id="new-restaurant">
					<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add Restaurant
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>

	{% for restaurant in restaurants %}
		<a href="#">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-10 restaurant-list">
						<h3>{{restaurant.name}}</h3>
						<h4>{{restaurant.address}}<h4>
						<a href="#">
			<button class="btn btn-default" id="edit-restaurant">
			<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit
			</button>
		</a>
						<a href="#">
			<button class="btn btn-default" id="delete-restaurant">
			<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Delete
			</button>
		</a>
				</div>
				<div class="col-md-1"></div>
			</div>
		</a>




		{% endfor %}
{% endblock %}
