{% extends "interview/interview_base.html" %}
{% block content %}

<div class="row divider green">
	<div class="col-md-12">
	</div>
</div>

	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Add Question</h1>
		</div>
	</div>

<br>


	<form action= "{% url 'interview:interview_add'%}" method="POST" >
	{% csrf_token %}
	<label for="question">Question:</label><input type="text" name="question" value="" style="font-size:12pt;height:80px;width:1000px;">
	<br>
	<label for="answer">Answer:</label><input type="text" name="answer" value="" style="font-size:12pt;height:80px;width:1000px;">
	<br>
	<br>
	<input type="checkbox" name="job">Job<br>
	<input type="checkbox" name="nationality">Nationality<br>
	<input class="btn btn-default" type="submit" value="Take the test" />
	</form>

  <br>

{% endblock %}
