{% extends "interview/interview_base.html" %}
{% block content %}

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
      {%for question in questions %}
			<h1>Edit question "{{question.question}}"</h1>
		</div>
	</div>

      <div class="row container">
    		<div class="col-md-6 col-md-offset-1 padding-top">
					<form action= "{% url 'interview:interview_edit' question_id=question.id%}" method="POST" class="form-group">
					{% csrf_token %}
					<label for="question">Question:</label>
					<input type="text" name="question" value="" style="font-size:12pt;height:80px;width:1000px;" placeholder= "{{question.question}}">
					<br>
					<br>
					<br>
					<label for="answer">Answer:</label><input type="text" name="answer" value="" style="font-size:12pt;height:80px;width:1000px;" placeholder= "{{question.answer}}">
					<br>
					<br>
					<input type="checkbox" name="job">Job<br>
					<input type="checkbox" name="nationality">Nationality<br>
					<input class="btn btn-default" type="submit" value="Edit" />
					</form>
    		</div>
    	</div>
{% endfor %}
{% endblock %}
