{% extends "interview/interview_base.html" %}
{% block content %}

<h1> This is the index page of interview application</h1>

<div class="row divider green">
	<div class="col-md-12">
	</div>
</div>
<br>
<br>
<a href="{% url 'interview:interview_add'%}">
  <button class="btn btn-default" id="next-question">Add Question
  </button>
</a>

<a href="{% url 'interview:interview_all'%}">
  <button class="btn btn-default" id="next-question">All Question
  </button>
</a>
<br>
<br>
{% for question in questions %}
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 restaurant-list">
          <h3>{{question.question}}</h3>


  <a href="{% url 'interview:interview_delete' question_id=question.id %}">
    <button class="btn btn-default" id="next-question">Delete</button>
  </a>

  <a href="{% url 'interview:interview_edit' question_id=question.id %}">
    <button class="btn btn-default" id="next-question">Edit</button>
  </a>
	  <button class="btn btn-default toggle button" id="button_{{question.id}}">Show/Hide Answer</button>
		<br>
		<div class="answer" id="answer_button_{{question.id}}">
			<h5>{{question.answer}}</h5>
		</div>


      </div>
      <div class="col-md-1"></div>
    </div>



{% endfor %}

<script type="text/javascript">
$(document).ready(function() {
	$('.answer').hide();

	$('.button').each(function(){
			var toggle_div_id = "answer_" + $(this).attr('id');
			$(this).click(function(){
				console.log(toggle_div_id)
					$('#'+toggle_div_id).toggle();
			});
	});

	$('.toggle_{{question.id}}').click(function(){
		$('.answer_{{question.id}}').toggle();
	});
});
</script>
{% endblock%}
